@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.collection {
  display: contents;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
}

.image-book {
  width: 61px;
  height: 93px;
  left: 24px;
  top: 297px;
}

.collection-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 37px;
  text-align: center;
  justify-content: flex-start;
    margin-left: 24px;
}

.collection-books::after {
  content: "";
  position: absolute;
  width: 327px;

  margin-top: 109px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.collection-card {
  margin-right: 8px;
}
.collection-profile {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  text-align: center;
  margin-top: 35px;
}

.collection-profile-image {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 24px;
}

.collection-profile-text {
  margin-left: 8px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.collection-books-copy {
  margin-top: 30px;
}
