@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.search-bar {
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
width: 327px;
height: 35px;
left: 24px;
top: 153px;


}

.search-icon {
    position: absolute;
    left: 55%;
    /* right: 12.5%; */
    top: 6%;
    /* bottom: 12.5%; */
    transform: translate(-55%);

}

.search-text {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
margin-left: 24px;
margin-bottom: 8px;
margin-top: 22px;

}